.dropbtn {
   
    color: #12440e;
    /* padding: 16px; */
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: transparent;
    font-weight: 500;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cdf0a0;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    color: rgb(82, 76, 76);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    border: none;
  }
  
  .dropdown-content button:hover {background-color: #cdf0a0; color: rgb(13, 87, 38);}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #cdf0a0;
  }

  .link-tag{
    text-decoration: none;
    color: #12440e;
    font-weight: 500;
    
  }
 